<nav class="navbar">
  <div class="social-media-icons">
  </div>

  <div class="logo">
    <a><img class="logo-img" alt=""></a>
  </div>

  <a href="#" class="toggle-button">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </a>
  <div class="navbar-links">
    <ul>
      <li><%= link_to "Home", root_path, class: "navbar-link"%></li>
      <li><%= link_to "Search", new_search_path, class: "navbar-link"%></li>
    </ul>
  </div>
</nav>
