<section class="welcome">
  <div class="welcome-container">
    <h1> welcome to realestate </h1>

    <h3> this site provides you with all information about the realestate </h3>

    <p> Check out our new properties </p>

    <%= link_to 'Properties', properties_path, class: "links" %>
  </div>
</section>
