// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.advance-search-section {
  padding-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.advance-search-section h1 {
  text-align: center;
  font-size: xx-large;
  font-weight: 900;
  color: brown;
  text-shadow: 1px 2px black;
}

.advanced-search-container {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  // align-items: center;
  justify-content: center;
}

.input-field {
  display: flex;
  margin-right: 1rem;
  padding: 1rem 1rem 1rem 1rem;
  color: brown;
  text-shadow: .5px .5px black;
}

.input-field p {
  font-size: 1rem;
  font-weight: bolder;
  margin: 0;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: .5rem;
}

.input-field .search-button {
  margin: auto;
  font-size: 1rem;
  color: brown;
  text-shadow: .5px .5px black;
}
